#sekcja-nr-1 {
    color: red;
}
.elementy-zielone {
    color: yellowgreen;
    font-family: Arial, sans-serif;
    font-size: 30px;
}
li {
    color: blue;
}
.poligon {
    background-color: green;
    height: 300px;
    width: 200px;
    padding: 50px;
    border: solid pink;
    border-width: 3px 4px;
    margin: 50px;
}